<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="../docs/css1/css/bootstrap.css">
</head>
<body>
<center><img src="../docs/IQ.jpg" alt="img"> </center>

<script src="../docs/css1/js/bootstrap.js"></script>
</body>
</html>